<%- include('partials/header') %>

<%- include('partials/navbarcoe') %>

<h1 class="info-heading">Student Information</h1>
<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>DoB</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Registered Exams</th>
        <th>Paid exams</th>
      </tr>
    </thead>
  </table>
</div>
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <% for(var i=0;i<students.length;++i){ %>
        <tr>
          <th><%= students[i].getName() %></th>
          <th><%= students[i].getUsername() %></th>
          <th><%= students[i].getDOB().toLocaleDateString('en-US') %></th>
          <th><%= students[i].getGender() %></th>
          <th><%= students[i].getDepartment() %></th>
          <th>
            <% var regs = students[i].getRegistrations() %>
            <% for(var j=0;j<regs.length;++j){ %>
              <%= regs[j].getCode() %>
            <% } %>
          </th>
          <th>
            <% var payed = students[i].getHallticket() %>
            <% for(var j=0;j<payed.length;++j){ %>
              <%= payed[j].getCode() %>
              <br>
            <% } %>
          </th>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>


<%- include('partials/footer') %>
