<%- include('partials/header') %>

<%- include('partials/navbarcoe') %>
<div style="background:#fff; padding:3% 5% 25% 5%; ">
<h1 class="info-heading">Student Information</h1>
<div class="tbl-header">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>DoB</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Registered Exams</th>
        <th>Paid exams</th>
      </tr>
    </thead>
  </table>
</div>
<div class="tbl-content">
  <table >
    <tbody>
      <% for(var i=0;i<students.length;++i){ %>
        <% if(i%2 == 0) {%>
          <tr style="background: #f9f3f3; ">
        <%}else {%>
          <tr style="background: #dcd6f7;">
        <%}%>
          <th class="student-col"><%= students[i].getName() %></th>
          <th class="student-col"><%= students[i].getUsername() %></th>
          <th class="student-col"><%= students[i].getDOB().toLocaleDateString('en-US') %></th>
          <th class="student-col"><%= students[i].getGender() %></th>
          <th class="student-col"><%= students[i].getDepartment() %></th>
          <th class="student-col">
            <% var regs = students[i].getRegistrations() %>
            <% for(var j=0;j<regs.length;++j){ %>
              <%= regs[j].getCode() %>
              <%if(j!=regs.length-1){%>
                ,
              <%}%>
            <% } %>
          </th>
          <th class="student-col">
            <% var paid = students[i].getHallticket() %>
            <% for(var j=0;j<paid.length;++j){ %>
              <%= paid[j].getCode() %>
              <%if(j!=paid.length-1){%>
                ,
              <%}%>
            <% } %>
          </th>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
</div>

<%- include('partials/footer') %>
