<%- include('partials/header') %>

<%- include('partials/navbarcoe') %>
<div style="padding-top: 5%; background: #fff; padding-bottom: 5%;">
<form id="form2" action="/examfinal" method="POST">
    <select id="edept"  class="custom-select" name="edept" onchange="changeColor()">
        <option value="" disabled selected>Exam Department</option>
        <option value="cse">Computer Science</option>
        <option value="it">Information Technology</option>
        <option value="ece">Electronics and Communicationz</option>
        <option value="eee">Electrical and Electronics</option>
        <option value="mech">Mechanical</option>
        <option value="civil">Civil</option>
        <option value="chem">Chemical</option>
        <option value="bme">Bio Medical</option>
    </select><br>
    <div class="box1">
    <% for (var i =0; i < nexams;  i++ ) { %>
        <input type="date" name="edate<%= i %>" value= <%= edates[i] %> >
        <input type="text" name="ecode<%= i %>" placeholder="Enter Exam Code">
        <input type="text" name="ename<%= i %>" placeholder="Enter Exam Name">
        <select name="esess<%= i %>" class="custom-selectsesh"  placeholder="Enter Exam Session">
            <option value="Forenoon">Forenoon</option>
            <option value="Afternoon">Afternoon</option>
        </select>

        <br>

    <% } %>
    </div>
    <input type="hidden" name="nexams" value=<%= nexams %> >
    <input type="submit" class="btn4">
</form>
</div>


<%- include('partials/footer') %>
