<%- include('partials/header') %>
<%- include('partials/navbar') %>

  <div class="animated bounceInDown" style="padding-top:5%; background:#fff; padding-bottom: 9%;">
    <div class="container-ht">
      <% if(student.gender == "Female"){ %>
        <img class="hallticket-img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.icon-icons.com%2Ficons2%2F2630%2FPNG%2F512%2Favatar_girl_woman_glasses_blonde_hair_icon_159132.png&f=1&nofb=1" alt="">
      <%}else{%>
        <img class="hallticket-img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.icon-icons.com%2Ficons2%2F2630%2FPNG%2F512%2Fdiversity_avatar_man_boy_sunglasses_people_icon_159090.png&f=1&nofb=1" alt="">
      <%}%>
      <h1 class="display-5" style="color:#5c6bc0"><%= student.name %></h1>
      <h7 class="font-weight-normal">ID :  <%= student.username %>  </h7>
      <br>
      <h7 class="font-weight-normal">DOB : <%= student.dob.slice(0,10) %> </h7>
      <br>
      <h7 class="font-weight-normal">Gender : <%= student.gender %> </h7>
      <br>
      <h7 class="font-weight-normal">Department : <%= student.department %></h7>
      <br>
      <br>
      <hr>
      <div >
      <table style="width:100%; text-align: center;">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Date</th>
          <th>Session</th>
        </tr>
        <% for(var i=0;i<hallticket.length;++i){ %>
          <tr style="border-top: solid 0.5px">
            <td><%= hallticket[i].code %></td>
            <td><%= hallticket[i].name %></td>
            <td><%= hallticket[i].date.slice(0,10) %></td>
            <td><%= hallticket[i].session %></td>
          </tr>
        <% } %>
      </table>
    </div>
    </div>
  </div>

<%- include('partials/footer') %>
