
<%- include('partials/header') %>

<%- include('partials/navbarcoe') %>
<div class="cover-boxupdate">
  <div class="animated bounceInDown">
    <div class="container-update">
      <span class="animated tada"></span>
          <form name="form3" class="box" action="/confirmupdate" method="POST">
            <h4>Reschedule<span>Exam</span></h4>
            <br>
            <% if(ecode == "0"){%>
              <h5>No matching results.</h5>
            <%}else{%>
                  <input type="text" placeholder=<%= ecode %> disabled>
                  <input type="text" placeholder=<%= ename %> disabled>
                  <% var oldDate = "Old schedule: " + edate +", " + esess %>
                  <% console.log(oldDate); %>
                  <input type="text" placeholder="<%= oldDate %>" disabled>
                  <input type="text" placeholder="New exam date" name="edate" onfocus="(this.type='date')" onblur="(this.type='text')">
                  <select class="custom-select" name="esess">
                      <option value="" disabled selected>New exam Session</option>
                      <option value="Afternoon">Afternoon</option>
                      <option value="Forenoon">Forenoon</option>
                  </select>
              <input type="hidden" value=<%= ecode %> name="ecode">
              <input type="submit" value="Reschedule" class="btn1">
            <%}%>
          </form>

          <a href="/viewupdate" class="search-go-back">Go Back</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
