<%- include('partials/header') %>


<%- include('partials/navbar') %>

<div class="regexam">

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Registered Exams</h1>
    <p class="lead">The following are all the exams you havce registered for. Click on the pay button to make pending registration payments.</p>
  </div>

  <div class="row">

    <% for(var i=0; i<regexams.length; i++) {%>
    <% var link = "/pay"+regexams[i].code%>
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Exam Code <%= regexams[i].code %></h4>
            <br>
            <h5 class="my-0 font-weight-normal">Exam Name <%= regexams[i].name %></h5>
            <br>
            <h5 class="my-0 font-weight-normal">Schedule <%= regexams[i].date.slice(0, 10) %>, <%= regexams[i].session %> </h5>
          </div>
          <div class="card-body">
            <% if(pay[i]==0){ %>
              <a class="btn-disabled" href=<%= link %> ><button type="button" class="btn btn-lg btn-block btn-primary">Pay</button></a>
            <%} else { %>
              <a class="btn-disabled" href=<%= link %> ><button type="button" disabled class="btn btn-lg btn-block btn-primary ">Payed</button></a>
            <% } %>
          </div>
        </div>
      </div>
      </div>
      <% } %>
    </div>
</div>


<%- include('partials/footer') %>
